:root {
    font-size: 12px;
    --t2s: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --t4s: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --t6s: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --t8s: all .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

img {
    width: 10px;
}

/* ---------------------- */

nav {
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    color: white;
}

nav ul li {
    transition: var(--t2s);
}

nav ul li:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

nav button:hover {
    transform: scale(1.1);
}

nav button {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 4px;
    transition: var(--t4s);
}

.home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.227) 20%, rgba(255, 255, 255, 0) 80%), url("../img/japan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: red;
}

.home h1 {
    font-size: 4rem;
    color: white;
    margin-left: 4rem;
}

.home p {
    color: white;
    font-size: 1.5rem;
    margin-left: 4.2rem;
}


.home button {
    color: white;
    font-size: 1.5rem;
    margin: 10px 0 0 4.2rem;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    transition: var(--t4s);
}

.home button:hover {
    transform: scale(1.1);
}

a {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ------------------------------------ */


/* --------------------------- */
.about-japan {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.736) 20%, rgba(255, 255, 255, 0) 80%), url("../img/japan01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-japan .about {
    margin-left: 4rem;
    color: rgb(255, 255, 255);
    /* background-color: red; */
    width: 40vw;
    border: 5px solid rgb(247, 247, 247);
    padding: 10px;
    backdrop-filter: blur(10px);
    transition: var(--t8s);
}

.about-japan .about:hover {
    transform: scale(1.02);
}

.about h2 {
    font-size: 5rem;
}

.about p {
    font-size: 1.8rem;
    color: white;
}


/* ------------------------------------ */

.destinations {
    height: auto;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.736) 20%, rgba(0, 0, 0, 0.7) 80%), url("img/japan02.jpg"); */
    /* background-color: #052641 #223545; */
    background: linear-gradient(to bottom, #052641, #223545);
    /* background-position: center;
background-repeat: no-repeat;
background-size: cover; */
    padding-top: 10vh;
}

.destinations p {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin: 0 0 8vh 30px;
}

.destination {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0 0vh 2vw;
    margin-bottom: 8vh;
    border-bottom: 2px solid white;
}

.destination .img {
    width: 50%;
    height: max-content;
    overflow: hidden;
}

.img img {
    width: 100%;
    transition: var(--t2s);
}

.img:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.destination .information {
    width: 40%;
    /* background-color: red; */
    margin-left: 70px;
    margin-right: 8vw;
    color: white;
}

.destination .information h3 {
    font-size: 4rem;
}

.destination .information p {
    font-size: 2rem;
    padding: 1rem;
}